/stage_one_summary_lifespan.svg
/stage_two_untuned_summary_lifespan.svg
/stage_two_summary_lifespan.svg
/stage_two_decision_lifespan.svg
/stage_one
/heatmap_lifespan_stage_two.svg
/heatmap_lifespan_stage_two_100.svg
/heatmap_lifespan_stage_two_unclustered.svg
/heatmap_lifespan_stage_two_unclustered_100.svg
/stage_1
/interactions
/stage_2
/life_history_no_genes
/stage_3
